* {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  min-width: 100vh;
}
.box1 {
  display: flex;
  background-color: #ff9500;
  height: 80px;
  border-bottom: 2px solid #ffffff;
}
.box1-1 {
  flex: 1;
  align-self: center;
  padding: 0 0 0 40px;
}
.box1-2 {
  flex: 4;
  padding: 0 1900px 0 0;
  align-self: center;
}
.pact {
  font-size: 60px;
  color: white;
  font-family: Avenir;
  font-style: italic;
  font-weight: 900;
}
.box1-3 {
  flex: 1;
  align-self: center;
}
.box2 {
  background-color: #ff9500;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.box2-0 {
  margin: 25px 15px 15px 765px;
  width: 1000px;
  height: 40px;
  padding: 20px 0 30px;
  background-color: #f8f9fa;
  border: 2px solid rgb(161, 152, 152);
  border-radius: 20px;
}

@media (max-width: 1440px) {
  .container {
    min-width: 328vh;
  }
  .box2 {
    min-height: 400vh;
  }
  .box1-2 {
    padding: 0 1645px 0 0;
  }
  .box2-0 {
    margin: 40px 20px 15px 500px;
    padding: 60px 50px 40px 80px;
  }
}
@media (max-width: 426px) {
  .container {
    min-width: 250vh;
  }
  .box1-1 {
    flex: 0;
  }
  .box1-2 {
    flex: 0;
  }
  .box1-2 {
    flex: 0;
  }
  .box1-2 {
    padding: 0 1300px 0 30px;
  }
  .box2-0 {
    margin: 40px 15px 15px 300px;
    padding: 120px 0px 30px 100px;
    border-radius: 30px;
  }
}
@media (max-width: 376px) {
  .container {
    min-width: 225vh;
  }
  .box1-2 {
    padding: 0 1115px 0 30px;
  }
  .box1 {
    height: 120px;
  }
  .box2-0 {
    margin: 40px 15px 15px 190px;
    border-radius: 40px;
  }
}
@media (max-width: 321px) {
  .container {
    min-width: 192vh;
  }
  .box1-2 {
    padding: 0 930px 0 30px;
  }
  .box2-0 {
    margin: 40px 15px 15px 90px;
    border-radius: 40px;
  }
}
